<!DOCTYPE html>
<html>

<head>
    <title>404 | HOTPOOR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div>未登录，请登录</div>
    <input id="login_account" type="" name="" placeholder="请输入账号">
    <br><input id="login_pwd" type="password" name="" placeholder="请输入密码">
    <br><button onclick="start_login()">登录</button>

    <script type="text/javascript">
    </script>


</body>
<script type="text/javascript" src="/static/js/login.js?t={{ handler.timer }}"></script>

</html>
